:root {
    --accent: #A4373A;
    --accent-dark: hsl(358, 50%, 33%);
}

body {
    display: flex;
    justify-content: center;

    background-color: #e6e6e6;
}

/* CONTROLS */

.controls {
    display: flex;
    justify-content: center;
    gap: 32px;

    margin: 32px;
}

.controls > button {
    padding: 16px;
    box-shadow: 0 0 2px darkgray;
    font-size: 1.5rem;
}

button {
    background-color: var(--accent);
    color: white;
    
    padding: 4px 12px 4px 12px;
    border: 0;
    border-radius: 8px;
    
    font-weight: bold;

    cursor: pointer;
}

button:hover, button:focus-visible {
    background-color: var(--accent-dark);
}

button:focus-visible {
    border: 3px white solid;
}

/* RESUME */

.resume {
    background-color: white;

    max-width: 896px;
    margin: 32px;
    padding: 32px;
    box-shadow: 0 0 5px darkgray;

    font-family: 'Times New Roman', Times, serif;
}

.resume > :not( :last-child ) {
    margin-bottom: 16px;
}

.resume h2 {
    text-transform: uppercase;
}

.content-header {
    display: flex;
    align-items: center;
    gap: 16px;
}

.content-header > button {
    margin-bottom: 4px;
}

hr {
    margin: 0;
}

/* Whenever the button is an only child (no other elements)
   use a margin to keep it away from section header */
.skills-content button:only-child,
.education-content button:only-child {
    margin-top: 8px;
}

.buttons {
    display: flex;
    gap: 8px;
    margin-bottom: 10px;
}

/* GENERAL INFO */

.info {
    text-align: center;
}

.info > button {
    margin-top: 8px;
}

.info > h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.user-info {
    display: flex;
    justify-content: center;
}

.user-info :not( :last-child )::after {
    content: '|';
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/* EDUCATION */

.degree-content {
    margin-bottom: 4px;
}

.degree-container {
    display: flex;
    justify-content: space-between;
}

.degree-container :nth-child(2) {
    text-align: right;
} 

/* SKILLS */

.skill-content {
    display: flex;
    margin-bottom: 4px;
}

.skill-content h3 {
    margin-right: 0.5rem;
}

.skill-content h3::after  {
    content: ':';
}

/* EXPERIENCE */

.exp-point-container {
    display: flex;
    justify-content: space-between;
}

.exp-point-container p {
    text-align: right;
}

.exp-point-content {
    list-style: square outside;
    margin-left: 2rem;
    margin-top: 0.25rem;
}

/* MODAL */

.modal-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: rgba(0, 0, 0, 0.5);

    position: fixed;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
}

.modal-content {
    position: relative;

    background-color: white;
    padding: 32px;
    border-radius: 8px;
}

.modal-close {
    width: 100%;
}


/* FORM/INPUT */

form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    margin-bottom: 8px;
    
    font-family: Arial, Helvetica, sans-serif;
}

label {
    display: flex;
    flex-direction: column;
    text-align: left;
}
